---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "The Aurora Aurea Curriculum";
---

<BaseLayout title={pageTitle}>
    <section>
        <h1 class="text-4xl font-bold py-4 mt-6">{pageTitle}</h1>
        <h2>Neophyte</h2>
        <ul>
            <li><a href="/curriculum/neophyte/1-elements">1. The Elements</a></li>
            <li><a href="/curriculum/neophyte/2-zodiac">2. The Zodiac</a></li>
            <li><a href="/curriculum/neophyte/3-planets">3. The Planets</a></li>
        </ul>
    </section>
</BaseLayout>

