---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "The Aurora Aurea Curriculum";
---

<BaseLayout title={pageTitle}>
    <section>
        <h2>Neophyte</h2>
        <ul>
            <li><a href="/curriculum/neophyte/1-elements">1. The Elements</a></li>
        </ul>
    </section>
</BaseLayout>

