---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Page";
---

	<BaseLayout title={pageTitle}>
		<h1 class="text-4xl font-bold py-4 mt-6">{pageTitle}</h1>
		<p>This is the about page of the Astro site.</p>
	</BaseLayout>
