---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Page";
---

	<BaseLayout title={pageTitle}>
		<h1 class="text-4xl font-bold py-4 mt-6">{pageTitle}</h1>
		<p class="mb-3 text-body">This is a bare-bones collection of Aurora Aurea materials. 
			You may proceed in the following way: as a Neophyte, you 
			work on the basics such as yoga and visualization; as Zelator
			you begin pathworking Malkuth; as Theoricus, Path 32 then Yesod;
			as Practicus, Path 31 (Shin), then Path 30 (Resh), and finish with Hod;
			as Philosophus, Path 29 (Qoph), Path 28 (Tzaddi), Path 27 (Peh),
			and finish with Netzach.
		</p>
		<p class="mb-3 text-body">
			Besides ascending the Sephiroth, you are also climbing through
			the four Qabalistic Worlds. Neophyte and Zelator are in Assiah;
			Theoricus, Practicus, and Philosophus are in Yetzirah; Adeptus
			Minor, Major, and Exemptus are in Briah; and Magister Templi, 
			Magus, and Ipsissimus are in Atziluth.
		</p>
		<p class="mb-3 text-body">
			Note: the Osirian system of GD takes the initiate to Tiphareth 
			in Assiah. The Thelemic system in the A.'.A.'. takes the initiate
			even higher. In other words, an Adeptus Minor in the GD system 
			is at the same level as a Zelator (Yesod) in the A.'.A.'. Therefore 
			even in Crowley's system the student is expected to go through 
			the formula of the Dying God except it is condensed in  
			the grade of Neophyte (Malkuth to Tiphareth in Assiah). 
		</p>
	</BaseLayout>
