---
---
<a href="/" class="mr-4 hover:underline">Home</a>
<a href="/about/" class="mr-4 hover:underline">About</a>
<a href="/blog/" class="mr-4 hover:underline">Blog</a>
<a href="/curriculum/" class="hover:underline">Curriculum</a>